@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Cabin', sans-serif;
  background-image: linear-gradient(to right top, #1b0923, #6c2145, #bd4942, #e8921d, #d7eb12);
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: #000;
  height: 450px;
  width: 260px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.8), 
              0 6px 60px 0 rgba(0, 0, 0, 0.69);
}

.display {
  display: inline-block;
  width: 100%;
  min-height: 64px;
  color: #fff;
  font-size: 2.5em;
  text-align: right;
  padding: 2px 10px;
  margin: 9px 0;
  background: #212020;
  border-radius: 3px;
}

button {
  margin: 5px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  font-size: 1.5em;
}

button:active {
  transform: scale(1.08);
}

button:focus {
  outline: none;
}

button.h-long {
  width: 110px;
  border-radius: 25px;
}

button.v-long {
  height: 116px;
  border-radius: 25px;
  position: absolute;
  bottom: 19px;
  right: 10px;
}

button.orange {
  background: #fe9503;
  color: #fff;
  font-size: 1.7em;
}

button.gray {
  background: #323232;
  color: #fff;
}

button.light-gray {
  background: #a6a6a6;
  font-size: 1.2em;
}